.me{
    text-align: center;
}
.kk{
    text-align: center;
}
.ll{
    text-align: center;
      
}
.bb{
    text-align: center;
}
.pp {
    text-align: center;
}
.main{
    width: 100%;
    background-position: center;
    background-size: cover ;
    height: 100vh;
    background: url(pexels-pixabay-33545.jpg);
}